.code-buddy {
  position: relative;
}

.code-buddy__list {
  list-style: none;
  padding-left: 0;
  border: 0.5px solid var(--color-border);
  border-radius: 6px;
}

.code-buddy__list__item {
  border: 0.5px solid var(--color-border);
  padding: 18px 79.5px;
  text-align: center;
  font-size: 16px;
  color: var(--color-secondary);
}

.code-buddy__list__first-item {
  border-radius: 6px 6px 0 0;
}

.code-buddy__list__last-item {
  border-radius: 0 0 6px 6px;
}

.code-buddy__plus {
  position: absolute;
  top: 44px;
  left: 145px;
}
