.rate-today-button {
  background-color: #ff5a36;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 48px;
  border-radius: 5px;
}

.journal {
  width: 315px;
  min-height: 345px;
  margin: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 0px 11px rgba(25, 50, 81, 0.2),
    2px 0px 11px rgba(25, 50, 81, 0.2);
  padding: 20px;
}
