.team__list {
  list-style: none;
  padding-left: 0;
  border: 0.5px solid var(--color-border);
  border-radius: 6px;
  margin-top: 0;
}

.team__list__item {
  border: 0.5px solid var(--color-border);
  padding: 18px 79.5px;
  text-align: center;
  font-size: 16px;
  color: var(--color-secondary);
  font-weight: 400;
}

.team__list__first-item {
  border-radius: 6px 6px 0 0;
  margin-top: 34px;
}

.team__list__last-item {
  border-radius: 0 0 6px 6px;
}
