* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  color: var(--color-primary-blue);
  font-size: 14px;
  line-height: 1.429;
  font-weight: 400;
}
.welcome {
  color: var(--color-primary-blue);
  font-weight: 700;
  font-size: 16px;
  grid-row: header;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.125;
}

.h1-only {
  padding-top: 10px;
}

.header-h2 {
  color: var(--color-secondary);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  grid-row: header;
  text-align: center;
  margin-top: 0;
  line-height: 1.5;
}

h3 {
  color: var(--color-primary-blue);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.143;
  margin-bottom: 10px;
  margin-top: 30px;
}

h4 {
  font-size: 14px;
  color: var(--color-primary-blue);
  font-weight: 600;
  margin: 0px 0 10px 0;
}

h6 {
  color: var(--color-secondary);
  font-size: 12px;
  font-weight: 400;
  margin: 20px 0 10px 0;
}

.layout-grid {
  display: grid;
  grid-template-rows: [header] 59px [main] auto;
  grid-template-columns: [width] 375px;
  width: 375px;
  height: 100vh;
  justify-content: center;
}

.header-grid {
  position: relative;
  grid-row: header;
  width: 375px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(svgs/background_shape_1.svg);
  justify-content: center;
  align-items: center;
}
.main-grid {
  grid-row: main;
  position: relative;
  justify-content: center;
  padding: 0 30px;
  padding-bottom: 70px;
}

.footer-position {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.nav-bar {
  padding: 10px 5px 5px 5px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 2px 11px 0px rgba(25, 50, 81, 0.2);
  background-color: var(--color-dark-background);
  align-items: center;
}

.idol-icon {
  color: var(--color-secondary);
  opacity: 45.3%;
}
