* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  /* font-size: 112.5%; */
  font-family: 'Open Sans', sans-serif;
}

p {
  color: var(--color-primary-blue);
  font-size: 14px;
  line-height: 1.429;
  font-weight: 200;
}

/* wrapped in base-h1-h2-wrapper */
.welcome {
  color: var(--color-primary-blue);
  font-weight: 700;
  font-size: 16px;
  grid-row: header;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.125;
}

/* wrapped in base-h1-h2-wrapper */

.header-h2 {
  color: var(--color-secondary);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  grid-row: header;
  text-align: center;
  margin-top: 0;
  line-height: 1.5;
}

h3 {
  color: var(--color-primary-blue);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.143;
}

/* .base-h1-h2-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 150px 25px 149px;
} */

.layout-grid {
  display: grid;
  grid-template-rows: [header] 59px [main] auto;
  grid-template-columns: [width] 375px;
  width: 375px;
  height: 100vh;
  justify-content: center;
}

.header-grid {
  position: relative;
  grid-row: header;
  width: 375px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(/src/background_shape_1.svg);
  justify-content: center;
  align-items: center;
}
.main-grid {
  grid-row: main;
  overflow-y: scroll; /* turn this off later */
  position: relative;
  justify-content: center;
  padding: 0 30px;
}
.footer-grid {
  /* check scrollable content underneath */
  position: absolute;
  bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  height: 44px;
  width: 335px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.11), 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-dark-background);
  align-items: center;
  justify-self: center;
  margin: 0 10px;
  /* position: absolute; */
}

/*SVG HEADER IMAGE*/
#background_shape_1 {
  grid-row: header;
  grid-column: width;
  align-items: center;
}

h3 {
  font-size: 14px;
  color: var(--color-primary-blue);
  font-weight: 500;
}

h4 {
  font-size: 14px;
  color: var(--color-primary-blue);
  font-weight: 500;
}

h6 {
  color: var(--color-secondary);
  font-size: 12px;
  font-weight: 200;
}
