/* Blocks */

.graph-title {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-primary-blue);
}

.energy-title {
  position: absolute;
  top: 10px;
}

.graph-parent {
  position: relative;
}

.graph-comparison-boxes {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  position: absolute;
  top: 295px;
  right: 30px;
}

.energy-level-title {
  position: relative;
  top: 310px;
  font-size: 14px;
  line-height: 1.143;
}

.rating-boxes {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 380px;
  margin: 10px 0px;
}

/* Elements */

.graph-lines {
  height: 202px;
  width: 260px;
  color: var(--color-border);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40px;
  top: 11.5px;
}

.whole-graph {
  position: absolute;
  top: -42.42px;
}

.chart-wrap {
  margin-left: 35px;
  font-family: sans-serif;
  transform: rotate(-90deg);
  height: 315px;
  width: 208px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.62em;
  padding: 0.5em 0 1.8em 0;
  text-align: center;
  white-space: nowrap;
}

.title .vertical .grid {
  transform: translateY(208px/4 - 315px/4) translateX(315px/2 - 208px/2)
    rotate(-90deg);
}

.bar::after {
  transform: translateY(-50%) rotate(45deg);
  display: block;
}
.bar::before,
.bar::after {
  transform: translateX(-0.2em) rotate(90deg);
}

.stamps {
  position: relative;
  font-size: 12px;
}

.grid {
  position: relative;
  padding: 5px 0 5px 0;
  height: 240px; /* width! */
  width: 202px; /* height! */
  border-left: var(--color-empty-icon) 1px solid;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 19.5%,
    fadeout(#aaa, 30%) 20%
  );
}

.bar {
  width: var(--bar-value);
  height: 12px;
  margin: 45px 0;
  background-color: var(--color-primary-red);
  border-radius: 0 8px 8px 0;
}

.bar::after {
  content: attr(data-name);
  margin-left: 100%;
  line-height: 50px;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}

.black {
  background-color: var(--color-primary-blue) !important;
  position: absolute;
  margin: -45px 0 0 0;
}

.bar,
.black {
  justify-self: left;
}

/*---------*/

/* time divs */

.time-stamp {
  line-height: 1.5;
  size: 12px;
  color: var(--color-secondary);
  bottom: 20px;
  width: 31px;
  padding: 0 25.9px 0 0;
  font-weight: 200;
}

.time-stamp-parent {
  display: flex;
  position: absolute;
  bottom: 27px;
  left: 27px;
  width: 260px;
  justify-content: space-between;
}

/* percentage divs */

.percent-stamp {
  line-height: 3.5;
  size: 12px;
  color: var(--color-secondary);
  position: absolute;
  top: -247px;
  left: 0px;
  font-weight: 200;
}

/* graph lines */

.lines {
  z-index: -1;
  border: var(--color-empty-icon) 0.5px solid;
  margin-top: 40.4px;
  top: 10px;
}

.graph-comparison-boxes {
  margin-top: 10px;
}

.other-students {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 106px;
  padding: 1.5px 8.5px 2px 8.5px;
  background-color: var(--color-primary-blue);
  color: var(--color-dark-background);
  text-align: center;
}

.you {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 42px;
  padding: 1.5px 8.5px 2px 8.5px;
  margin-left: 10px;
  background-color: var(--color-25);
  color: var(--color-primary-red);
  text-align: center;
}

.rating-boxes__buttons {
  border-radius: 5px;
  width: 315px;
  height: 45px;
  text-align: center;
  justify-self: center;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
}

.hundred {
  background-color: var(--color-primary-red);
  color: var(--color-dark-background);
}

.seventy-five {
  background-color: var(--color-75);
  color: var(--color-dark-background);
}
.fifty {
  background-color: var(--color-50);
  color: var(--color-primary-red);
}
.twenty-five {
  background-color: var(--color-25);
  color: var(--color-primary-red);
}
